@import "./testimonial_tabletview";

// .header-wrapper{
//   display: none;
// }

.testimonial {
  &__detail {
    height: 150px;
  }
  &__description {
    line-height: 2.5rem;
  }
  &__cardswrapper {
    max-width: 325px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top: 3rem;
  }
}
