@import "variables";

.contact-wrapper {
  padding: 60px 0 40px 0;
  background-color: var(--secondary-color);
  border-radius: 3rem;
  h5 {
    @extend %heading;
    color: var(--primary-color);
    font-size: 35px;
    display: block;
    margin: 2rem auto 10rem auto;
    height: 2rem;
    width: fit-content;
    border-bottom: 2px var(--primary-color) solid;
    @media (max-width: 500px) {
      font-size: 25px;
      letter-spacing: 2px;
      margin-bottom: 5rem;
    }
  }

  .contact {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 3rem;
    @media (max-width: 500px) {
      flex-direction: column;
    }

    .contact-info-box {
      width: 45%;

      @media (max-width: 1100px) {
        width: 100%;
      }
    }

    @media (min-width: 501px) and (max-width: 900px) {
      font-size: 25px;
      letter-spacing: 2px;
      margin-bottom: 5rem;
    }

    @media (min-width: 901px) and (max-width: 1100px) {
      font-size: 25px;
      letter-spacing: 2px;
      margin-bottom: 5rem;
    }
    @media (min-width: 1101px) and (max-width: 1440px) {
      font-size: 25px;
      letter-spacing: 2px;
      margin-bottom: 5rem;
    }
  }
}

.input-box {
  font-size: 20px;
  color: var(--primary-color);
  display: block;
  width: 80%;
  margin: auto;
  @media (max-width: 500px) {
    font-size: 15px;
  }
  @media (min-width: 501px) and (max-width: 900px) {
    font-size: 15px;
  }

  @media (min-width: 901px) and (max-width: 1100px) {
    font-size: 15px;
  }

  @media (min-width: 1101px) and (max-width: 1440px) {
    font-size: 15px;
  }

  #name,
  #email,
  #whatsapp,
  #celephone {
    border: var(--primary-color) 1px solid;
    border-radius: 10px;
    height: 35px;
    width: 100%;
    background-color: var(--secondary-color);
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    @media (max-width: 500px) {
      height: 25px;
      margin-top: 0px;
      margin-bottom: 10px;
    }

    @media (min-width: 501px) and (max-width: 1440px) {
      height: 25px;
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }
  #message {
    height: 120px;
    width: 100%;
    border: var(--primary-color) 1px solid;
    border-radius: 10px;
    background-color: var(--secondary-color);
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    @media (max-width: 500px) {
      height: 100px;
      margin-top: 0px;
      margin-bottom: 10px;
    }

    @media (min-width: 501px) and (max-width: 1440px) {
      height: 100px;
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }

  #submit {
    color: var(--primary-color);
    border: var(--primary-color) 1px solid;
    border-radius: 10px;
    background-color: var(--secondary-color);
    width: 80%;
    height: 35px;
    padding: 5px;
    margin: auto;
    display: block;

    &:hover {
      background-color: var(--primary-color);
      color: var(--secondary-color);
      letter-spacing: 2px;
    }
  }
}

.contact-details {
  text-align: center;
  width: 45%;
  @media (max-width: 1100px) {
    width: 100%;
  }

  h3 {
    color: var(--primary-color);
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 5rem;
    @media (max-width: 500px) {
      font-size: 20px;
    }
    @media (min-width: 501px) and (max-width: 1440px) {
      font-size: 20px;
    }
  }

  p {
    color: var(--primary-color);
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    @media (max-width: 500px) {
      font-size: 15px;
      letter-spacing: 0px;
    }
    @media (min-width: 501px) and (max-width: 1440px) {
      font-size: 15px;
    }
  }

  iframe {
    width: 100%;
    height: 25vw;
    @media (max-width: 500px) {
      height: 80vw;
    }
    @media (max-width: 1100px) {
      height: 50vw;
    }
  }
}

.contact-modal {
  display: none;
  position: fixed;
  z-index: 30;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-container {
  margin: auto;
  padding: 20px;
  width: 80%;
}

.active {
  display: block;
  opacity: 0;
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
